sudo: false

language: ruby

rvm:
  - 2.2

install:
  - curl -L -o jupyter-scala https://raw.githubusercontent.com/alexarchambault/jupyter-scala/master/jupyter-scala
  - bash jupyter-scala
  - pip3 install --upgrade pip
  - pip3 install jupyter
  - bundle install

script: bundle exec jekyll build

deploy:
  skip_cleanup: true
  provider: pages
  local_dir: _site
  github_token: $GITHUB_PERSONAL_ACCESS_TOKEN
  repo: ThoughtWorksInc/DeepLearning.scala
